<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>simple.html</title>
  <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
</head>
<body>
  <div id="box">
    <h1>simple</h1>
    <h5 v-show="inputing">其他用户正在输入中...</h3>
    <input type="text"  id='text' v-model="msg"/>
    <button @click="sendOther()">发送</button>
    <hr>
    <input type="text"  id='text' v-model="socketId" placeholder="socketId"/>
    <input type="text"  id='text' v-model="secretMsg" placeholder="secretMsg"/>  
    <button @click="sendSecret()">发送</button>
    <h6>在线人数：{{ count }}人</h6>
  </div>
  <script>

    const socket = io('http://localhost:3000')
    const id = parseInt(Math.random() * 1000)
    console.info('id', id)
    

    let inputingTimeout = null
    new Vue({
      el: '#box',
      data: {
        msg: '',
        inputing: false,
        count: 0,
        socketId: '',
        secretMsg: ''
      },
      watch: {
        // 3: 正在发送消息
        msg () {
          socket.emit('inputing', true)
        }
      },
      mounted() {
        // 1: Broadcast a message to connected users when someone connects or disconnects.
        socket.emit('userConnected', id)
        socket.on('userConnected', msg => {
          console.info('userConnected', msg)
        })
        socket.on('userDisconnect', (msg) => {
          console.info('userDisconnect', msg)
        })
        // 2: Don’t send the same message to the user that sent it himself. Instead, append the message directly as soon as he presses enter.
        socket.on('messageOther', data => {
          console.info(`id:${data.id},message: ${data.msg}`)
        })
        // 3: 正在发送消息
        socket.on('otherinputing', data => {
          console.info('otherinputing:' + data)
          this.inputing = data
        })
        // 4: 在线人数
        socket.on('userCount', count => {
          this.count = count
        })
        // 5: 私聊
        socket.on('secret', msg => {
          console.info('secret msg: ', msg)
        })
       
      },
      methods: {
        sendOther () {
          let msg = this.msg
          socket.emit('sendOther', {
            id: id,
            msg: msg
          })
        },
        sendSecret () {
          socket.emit('sayTo', {
            id: this.socketId,
            msg: this.secretMsg
          })
        }
      }
    })
    // homework

    // 接收服务端单信息
    socket.on('server message', msg => {
      console.info('server message:' + msg)
    })

    // broadcast
    // socket.emit('broadcast', 'I am client broadcast')
    socket.on('broadcast', msg => {
      console.info('broadcast:' + msg)
    })

    // 发送信息给服务端
    function send () {
      var msg = $('#text').val()
      socket.emit('client message', msg)
    }


    </script>
</body>
</html>